# SLURM options for HPC cluster @ SISSA in Trieste

export NPROC=20
export sbatch_options="--nodes=1 --ntasks-per-node=\$NPROC --cpus-per-task=1 --partition=regular1 --time=00:30:00 --exclusive --reservation=\\\${SLURM_RESERVATION}"

source $HOME/QE-2021/post-install/remote.sh

